{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your shopping cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View your cart and items</p>
                </div>
            </div>
        </header>
        <br><br>
        <div class="container">
            {% if cart_products %}
            {% for product in cart_products %}
            <div class="col-lg-5 col-ld-5 col-sm-7 col-12">
                        <div class="card mb-3">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                  <br>
                                  {% if product.in_sale %}
                                    <span class="text-muted text-decoration-line-through">{{ product.price }} 💲</span><br>
                                    {{ product.sale_price }} 💲
                                    {% else %}
                                    {{ product.price }} 💲
                                    {% endif %}
                                  <br><br>
                                  <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home page</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
            {% endfor %}
            {% else %}
            <center>
                <h1 class="bold">Your cart is empty!</h1>
            </center>
            <br><br><br><br><br><br><br><br><br>
            {% endif %}

        </div>
        <br><br><br>

{% endblock %}
