{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our store</p>
                </div>
            </div>
        </header>
        <br><br>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-lg-5 col-ld-5 col-sm-7 col-12">
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet arcu blandit quam egestas ullamcorper consequat sit amet lectus. Quisque sit amet tellus placerat, ornare dolor vitae, maximus eros. Donec feugiat ac ante facilisis tempor. Donec rhoncus nibh a risus rutrum, eget laoreet ante suscipit. Nunc pulvinar turpis id nunc fringilla rhoncus. Cras consectetur vulputate nisl, et facilisis ipsum ullamcorper eu. Integer feugiat tristique odio, sit amet dignissim sapien. Fusce interdum, lacus eget condimentum eleifend, leo nisl iaculis orci, ac fermentum mi risus vitae elit.
                            <br>
                            Etiam congue libero sit amet hendrerit commodo. Praesent eros dui, mollis ut feugiat ac, gravida id ligula. Donec ac vestibulum metus. Pellentesque cursus, est quis sagittis ultrices, justo sem ornare ante, a accumsan lacus dolor et urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem tortor, mollis ut nisl vitae, finibus maximus orci. Morbi facilisis lectus sed elit interdum, non feugiat libero volutpat. Quisque ac urna porta est venenatis condimentum. Pellentesque iaculis mi tempus eleifend dapibus. Cras sed porta dolor, et auctor dolor.
                            <br>
                            Pellentesque fermentum ex sed sem maximus, non dignissim eros ultrices. Aenean porta, nunc at blandit vestibulum, libero sem maximus augue, vitae rutrum nulla neque in neque. Sed ornare sollicitudin mi. Curabitur aliquam massa sit amet tortor lacinia, at volutpat est condimentum. Integer dignissim nec urna eu dignissim. Nam ac laoreet quam, at semper odio. Ut ullamcorper laoreet ipsum non aliquam. Phasellus sed suscipit est. Nullam in enim et libero hendrerit dapibus.
                        </p>
                    </div>
                </center>
            </div>
        </div>
        <br><br>

{% endblock %}
