{% extends 'base.html' %}

{% block content %}
        <br><br><br>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-lg-7 col-ld-7 col-sm-9 col-12">
                        <div class="card mb-3">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                  <br>
                                  {% if product.in_sale %}
                                    <span class="text-muted text-decoration-line-through">{{ product.price }} 💲</span><br>
                                    {{ product.sale_price }} 💲
                                    {% else %}
                                    {{ product.price }} 💲
                                    {% endif %}

                                  <br><br>
                                  <div class="row justify-content-center">
                                      <div class="col-lg-5 col-ld-5 col-sm-5 col-12">Quantity:</div>
                                      <div class="col-lg-7 col-ld-7 col-sm-7 col-12">
                                            <select class="form-select" id="qty-cart">
                                              <option value="1">1</option>
                                              <option value="2">2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
                                            </select>
                                      </div>
                                  </div>
                                  <br><br>
                                  <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home page</a>
                                  <button type="button" value="{{ product.id }}" class="btn btn-primary" id="add-cart">Add To Cart</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <br><br>

<script>
// Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
            product_id: $('#add-cart').val(),
            product_qty: $('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }


    });



})




</script>

{% endblock %}
