{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Update Profile</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Update user profile</p>
                </div>
            </div>
        </header>
        <br><br>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-lg-5 col-ld-5 col-sm-7 col-12">
                        <h3>Billing Information</h3>
                        <br>
                        <form method="POST" action="{% url 'update_info' %}">
                            {% csrf_token %}

                            {{ form.as_p }}
                            <br><br>

                            <h3>Shipping Information</h3>
                            <br>

                            {{ shipping_form.as_p }}
                            <br>

                            <button type="submit" class="btn btn-primary">
                                Update Profile
                            </button>
                        </form>
                         <br><br>
                    </div>
                </center>
            </div>
        </div>
        <br><br>

{% endblock %}
