{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Billing Info</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Entr your payment information...</p>
                </div>
            </div>
        </header>
        <br><br>
        <div class="container">
            <div class="container">
            <div class="row">
                <center>
                    <div class="col-lg-5 col-ld-5 col-sm-7 col-12">
                        <div class="card">
                          <div class="card-header">
                            Order Summary
                          </div>
                          <div class="card-body" align="left">
                              {% for product in cart_products %}
                              {{ product.name }} :
                              {% if product.in_sale %}
                                    <span class="text-muted text-decoration-line-through">{{ product.price }} 💲</span><br>
                                    {{ product.sale_price }} 💲
                                    {% else %}
                                    {{ product.price }} 💲
                              {% endif %}

                              <br>
                              <small>
                              Quantity:
                              {% for key, value in quantities.items %}
                                              {% if key == product.id|slugify %}
                                                {{ value }}
                                              {% endif %}
                              {% endfor %}
                              </small>
                              <br><br>


                              {% endfor %}

                              <strong>Total: {{ total }} 💲</strong><br><br>

                              <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-warning">
                                  Update Items
                              </a>
                          </div>
                        </div>
                        <br><br>
                        <div class="card">
                          <div class="card-header">
                            Shipping Info
                          </div>
                          <div class="card-body" align="left">
                              <form method="POST" action="{% url 'billing_info' %}">
                                  {% csrf_token %}

                                  Name: {{ shipping_info.shipping_full_name }} <br>
                                  Email: {{ shipping_info.shipping_email }} <br>
                                  Country: {{ shipping_info.shipping_country }} <br>
                                  City: {{ shipping_info.shipping_city }} <br>
                                  Address 1: {{ shipping_info.shipping_address1 }} <br>
                                  Address 2: {{ shipping_info.shipping_address2 }} <br>
                                  Postal Code: {{ shipping_info.shipping_postal_code }} <br><br>
                                  <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                              </form>
                          </div>
                        </div>

                        <br><br>

                        <div class="card" align="left">
                          <div class="card-header">
                            Billing Info
                          </div>
                          <div class="card-body" align="left">
                              {{ billing_form.as_p }}
                          </div>
                        </div>
                        <br>
                        <a href="#" class="btn btn-primary">Pay Now</a>
                    </div>
                </center>
            </div>
        </div>
            <br><br><br><br><br><br>

        </div>
        <br><br><br>


{% endblock %}


